<div class="form">

  <div class="form-head">
    <h3>Add New Property</h3>
  </div>
  <form [formGroup]='propertyForm'
        (ngSubmit)="submit()">

    <div class="form-group">
      <label for="name">Property Name</label>
      <div class="control">
        <input type='text'
               id="name"
               class="form-control"
               placeholder="Property Name"
               formControlName="name" />
        <div class="invalid-feedback">
          {{displayMessage.name}}
        </div>
      </div>
    </div>


    <div class="form-group">

      <label for="address">Address</label>
      <div class="control">
        <input type='text'
               id="address"
               placeholder="Address"
               class="form-control"
               formControlName="address" />
        <div class="invalid-feedback">
          {{displayMessage.address}}
        </div>

      </div>
    </div>

    <div class="form-group unit">
      <h4>Unit Details</h4>
    </div>


    <div formArrayName="units">
      <div class="unit"
           [formGroupName]="i"
           *ngFor="let address of units.controls; let i=index">
        <div class="form-group">
          <label for="floorId"
                 attr.for="{{'floor' + i}}">Floor</label>
          <div class="control">
            <input type='text'
                   id="{{'floor' + i}}"
                   placeholder="Floor"
                   class="form-control"
                   formControlName="floor">
            <div class="invalid-feedback">
              {{displayMessage['floor'+i]}}
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="number"
                 attr.for="{{'number' + i}}">#Number</label>
          <div class="control">
            <input type='text'
                   id="{{'number' + i}}"
                   placeholder="Number"
                   class="form-control"
                   formControlName="number" />
            <div class="invalid-feedback">
              {{displayMessage['number'+i]}}
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="rent"
                 attr.for="{{'rent' + i}}">Monthly Rent</label>
          <div class="control">
            <input type='text'
                   id="{{'rent' + i}}"
                   placeholder="Monthly Rent($)"
                   class="form-control"
                   formControlName="rent" />
            <div class="invalid-feedback">
              {{displayMessage['rent'+i]}}
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="vacant"
                 attr.for="{{'vacant' + i}}">Vacant</label>
          <div class="control">
            <input type='text'
                   id="{{'vacant' + i}}"
                   class="form-control"
                   placeholder="Vacant"
                   formControlName="vacant" />
            <div class="invalid-feedback">
              {{displayMessage['vacant'+i]}}
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="form-group">
      <div class="control"><input class="addUnit"
               type="button"
               (click)="addNewUnit()"
               value="Add Unit" /></div>
      <div class="control"><input class="addUnit"
               type="button"
               (click)="removeUnit()"
               value="Remove Unit" /></div>

    </div>

    <div class="form-group flexd">
      <div></div>
      <div class="control">
        <button class="submit"
                [disabled]="!propertyForm.valid">Add Property</button>
      </div>
    </div>

  </form>
</div>
