.addUnit {
  background: white;
  border: 1px solid #6d0c0c;
  padding: 5px 27px;
  font-family: proxima-bold;
  color: #9f0000;
  border-radius: 4px;
  cursor: pointer;
}

.flexd {
  margin-top: 15px;
}
