.form-group label {
  flex-grow: 2;
  max-width: 150px;
  line-height: 36px;
}

.form-group>div {
  flex-grow: 2;
}

.form-group {
  padding: 2px 22px;
  display: flex;
}

.unit {
  margin-bottom: 10px;
}

h4 {
  margin: 0px;
}

.addUnit {
  background: white;
  border: 1px solid #6d0c0c;
  padding: 5px 27px;
  font-family: proxima-bold;
  color: #9f0000;
  border-radius: 4px;
  cursor: pointer;
}

.form-head {
  padding: 1px 20px;
  background: #f1f1f1;
  border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
  border: 1px solid #d8d6d6;
  margin-bottom: 10px;
}
