<div class="props">
  <h2>Properties:</h2>
  <ul class="flex-container">
    <li *ngFor="let prop of properties"
        class="flex-item">
      <div class="title">
        <div>
          <label>Property:</label>
        </div>

        <div class="cont">
          <h4>
            <a [routerLink]="['/properties', prop._id]"
               class="title">{{ prop.name }}</a>
          </h4>
        </div>
      </div>
      <div class="address">
        <div><label>Address:</label></div>
        <div class="cont">{{prop.address}}</div>
      </div>
      <div>
        <div></div>
        <div><a [routerLink]="['/properties', prop._id]"
             class="title more">View More Details</a></div>
      </div>

    </li>
  </ul>
</div>
