/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: proxima-light;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: proxima-bold;
  margin: 13px 2px;
}

nav a {
  font-family: proxima-medium;
}

button {
  font-family: proxima-medium;
}

@font-face {
  font-family: proxima-light;
  src: url(./assets/fonts/ProximaNova-Light.ttf);
}

@font-face {
  font-family: proxima-medium;
  src: url(./assets/fonts/ProximaNova-Medium.ttf);
}

@font-face {
  font-family: proxima-bold;
  src: url(./assets/fonts/ProximaNova-Bold.ttf);
}




.flex-container {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.flex-item {
  flex-grow: 1;
}

.flex-container.auto div,
.flex-container.auto li {
  flex-grow: 1;
}

@media all and (max-width: 1000px) {
  .navigation ul {
    flex-wrap: wrap;
  }

  .navigation li {
    flex: 1 1 50%;
  }

  .navigation .user {
    flex: 1 1 33.33%;
  }
}

@media all and (max-width: 480px) {
  .navigation li {
    flex-basis: 100%;
  }

  .navigation .user {
    flex-basis: 50%;
  }
}



button.submit {
  box-shadow: inset 0px 1px 0px 0px #a6827e;
  background: linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
  background-color: #7d5d3b;
  border-radius: 3px;
  border: 1px solid #54381e;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 17px;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #4d3534;
}

button.submit:hover {
  background: linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
  background-color: #634b30;
}

button.submit:active {
  position: relative;
  top: 1px;
}

button.submit:disabled {
  opacity: 0.7;
}



.form {
  padding-bottom: 16px;
  width: 494px;
  margin: auto;
  background: white;
  border-radius: 8px;
  margin-top: 16px;
  border: 1px solid #f1eeee;
}

.ng-invalid.ng-touched:not(form):not(div) {
  border-left: 5px solid #a94442;
}


.form-control,
.form input[type='text'],
.form input[type='password'] {
  display: block;

  margin-bottom: 13px;
  width: 80%;
  height: 28px;
  padding: 2px 12px;
  font-size: 15px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  font-family: proxima-medium;
}

.main {
  min-height: 100%;
}

.form-group label {
  flex-grow: 2;
  max-width: 150px;
  line-height: 36px;
}

.form-group>div {
  flex-grow: 2;
}

.form-group {
  padding: 2px 22px;
  display: flex;
}

.unit {
  margin-bottom: 10px;
}

h4 {
  margin: 0px;
}

.form-head {
  padding: 1px 20px;
  background: #f1f1f1;
  border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
  border: 1px solid #d8d6d6;
  margin-bottom: 10px;
}

.invalid-feedback {
  max-width: 200px;
  margin-top: -9px;
  margin-bottom: 10px;
}

.main h2 {
  color: white;
}
