<div class="property"
     *ngIf="property">
  <div class="header">
    Property Details: {{property.name}}
  </div>
  <div>
    <div class="label">Name:</div>
    <div class="value">{{property.name}}</div>
  </div>
  <div>
    <div class="label">Address:</div>
    <div class="value">{{property.address}}</div>
  </div>
  <div>
    <div class="label"></div>
    <div class="value"></div>
  </div>
  <div>
    <div class="label"></div>
    <div class="value"></div>
  </div>
  <div>
    <div class="label"></div>
    <div class="value"></div>
  </div>
  <div>
    <div class="label"></div>
    <div class="value"></div>
  </div>
</div>
